out
.idea
.gradle
/build/
dal/build

# Files below aren't commited, but should usually be present
# TODO: See <WIKI URL> for details
.env
docker-compose.override.yml
/docker/gradle-config/init.gradle
/docker/gradle-config/gradle.properties
